

.card {
  background-color: var(--sidebar);
}

label {
  font-size: 26px;
}

p {
  font-size: 16px;
  margin-top: 10px;
  color: chocolate;
}

.invalido {
  color: red;
  font-size: 16px;
  margin-top: 5px;
}

.boton {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn {
  width: 12rem;

}
