<header class="header">
  <h2 class="header-text">Calculadora estadistica App</h2>
</header>

<div class="contenedor">
  <div class="sidebar">
    <!-- Sidebar -->
    <shared-sidebar></shared-sidebar>
  </div>

  <div class="home">
    <!-- Home Page -->
    <estadistica-home-page></estadistica-home-page>
  </div>
</div>

<footer>
  <div class="footer">
    <p class="footer-text">
      Desarrollado por
      <a
        href="https://www.linkedin.com"
        target="_blank"
      >
        Jhampier Jhonatan Tucno Perez
      </a>
    </p>
  </div>
</footer>
