.contenedor {
  display: flex;
  flex-direction: column;
}

header {
  color: white;
  padding: 1rem;
  background-color: #212529;
}

.header-text {
  text-align: center;
  font-size: 40px;
}


.sidebar {
  background-color: var(--sidebar);
  /* height: 100vh; */
}

.home {
  background-color: var(--home);
  height: 100%;
  /* height: 100vh; */
}

.footer {
  background-color: var(--footer);
  padding: 1rem;
  text-align: center;
}

.footer-text {
  color: white;
  margin-bottom: 0;
}

.footer-text > a {
  color: var(--amarillo);
}

@media (min-width: 576px) {
  .contenedor {
    height: 85vh;
  }
}

@media (min-width: 992px) {
  .contenedor {
    height: 100vh;
    flex-direction: row;
    align-items: stretch;
  }
  .sidebar {
    width: 40%;
    flex-grow: 1;
  }
  .home {
    width: 60%;
    flex-grow: 1;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    width: 35%;
  }
  .home {
    width: 65%;
  }
}

@media (min-width: 1517px) {
  .contenedor {
    height: 83.7vh;
  }
}
