
<h2 class="titulo">Resultados</h2>

<div class="cards ">
  <estadistica-card [medida]="media"></estadistica-card>

  <estadistica-card [medida]="moda"></estadistica-card>

  <estadistica-card [medida]="mediana"></estadistica-card>

  <estadistica-card [medida]="mediaGeometrica"></estadistica-card>

  <estadistica-card [medida]="medidaCentralidad"></estadistica-card>

  <estadistica-card [medida]="varianza"></estadistica-card>

  <estadistica-card [medida]="desviacionEstandar"></estadistica-card>
</div>
