.titulo {
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  gap: 1rem;
  justify-content: space-evenly;
}

.row {
  /* margin: 0 auto; */
  justify-content: space-around;
}
